.paginate-active-class {
  font-weight: bold;
  color: blue !important;
  font-size: 1.2rem;
}

.custom-multiselect {
  --ms-font-size: 0.9rem;
  --ms-line-height: 1.375;
  --ms-bg: #f0f0f0;
  --ms-bg-disabled: #f3f4f6;
  --ms-border-color: #f0f0f0;
  --ms-border-width: 1px;
  --ms-border-color-active: #157afe;
  --ms-border-width-active: 1px;
  --ms-radius: 10px;
  --ms-py: 0.7rem;
  --ms-px: 0.875rem;
  --ms-ring-width: 1px;
  --ms-ring-color: #157afe;
  --ms-placeholder-color: #9ca3af;
  --ms-max-height: 15rem;

  --ms-spinner-color: #157afe;
  --ms-caret-color: #157afe;
  --ms-clear-color: #157afe;
  --ms-clear-color-hover: #000000;

  --ms-tag-font-size: 0.875rem;
  --ms-tag-line-height: 1.25rem;
  --ms-tag-font-weight: 600;
  --ms-tag-bg: #157afe;
  --ms-tag-bg-disabled: #9ca3af;
  --ms-tag-color: #ffffff;
  --ms-tag-color-disabled: #ffffff;
  --ms-tag-radius: 4px;
  --ms-tag-py: 0.125rem;
  --ms-tag-px: 0.5rem;
  --ms-tag-my: 0.25rem;
  --ms-tag-mx: 0.25rem;

  --ms-tag-remove-radius: 4px;
  --ms-tag-remove-py: 0.25rem;
  --ms-tag-remove-px: 0.25rem;
  --ms-tag-remove-my: 0rem;
  --ms-tag-remove-mx: 0.125rem;

  --ms-dropdown-bg: #f7f7f7;
  --ms-dropdown-border-color: #d1d5db;
  --ms-dropdown-border-width: 1px;
  --ms-dropdown-radius: 4px;

  --ms-group-label-py: 0.3rem;
  --ms-group-label-px: 0.75rem;
  --ms-group-label-line-height: 1.375;
  --ms-group-label-bg: #e5e7eb;
  --ms-group-label-color: #374151;
  --ms-group-label-bg-pointed: #d1d5db;
  --ms-group-label-color-pointed: #374151;
  --ms-group-label-bg-disabled: #f3f4f6;
  --ms-group-label-color-disabled: #d1d5db;
  --ms-group-label-bg-selected: #157afe;
  --ms-group-label-color-selected: #ffffff;
  --ms-group-label-bg-selected-pointed: #0c9e70;
  --ms-group-label-color-selected-pointed: #ffffff;
  --ms-group-label-bg-selected-disabled: #75cfb1;
  --ms-group-label-color-selected-disabled: #d1fae5;

  --ms-option-font-size: 1rem;
  --ms-option-line-height: 1.375;
  --ms-option-bg-pointed: rgb(223, 223, 223);
  --ms-option-color-pointed: #1f2937;
  --ms-option-bg-selected: #157afe;
  --ms-option-color-selected: #ffffff;
  --ms-option-bg-disabled: #ffffff;
  --ms-option-color-disabled: #d1d5db;
  --ms-option-bg-selected-pointed: #0c889e;
  --ms-option-color-selected-pointed: #ffffff;
  --ms-option-bg-selected-disabled: #ffffff;
  --ms-option-color-selected-disabled: #d1fae5;
  --ms-option-py: 0.5rem;
  --ms-option-px: 0.75rem;

  --ms-empty-color: #4b5563;
}

@media (max-width: 760px) {
  .custom-multiselect {
    --ms-font-size: 0.9rem;
    --ms-py: 0.55rem;
  }
}
